<div class="h-screen w-screen bg-black flex flex-row">
  <!-- READ : 2017  -->
  <div class="h-screen w-[25%] bg-green-50 relative group">
    <img
      src="assets/año2017.jpg"
      alt="Año 2019"
      class="absolute object-cover h-full w-full"
    />
    <div
      class="absolute inset-0 bg-black bg-opacity-45 group-hover:bg-opacity-0 transition-opacity duration-300"
    ></div>
    <div
      class="absolute inset-0 flex items-center justify-center flex-col p-[5%] gap-[3%]"
    >
      <p
        class="text-white font-google-codepro text-4xl text-center transition-opacity duration-300 group-hover:opacity-0"
        style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8)"
      >
        2017
      </p>
      <p
        class="text-white font-google-codepro text-1xl text-center transition-opacity duration-300 group-hover:opacity-0"
      >
        Los huracanes Harvey e Irma intensificaron los impactos climáticos,
        generando grandes emisiones indirectas de gases de efecto invernadero.
      </p>
    </div>
    <div
      class="absolute inset-0 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 gap-[2%]"
    >
      <p
        class="text-white font-google-codepro font-bold text-2xl text-center"
        style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8)"
      >
        Datos cronologicos de ese año
      </p>
      <img
        src="assets/monitorioCronologico.svg"
        alt=""
        class="object-cover h-10 w-10"
      />
      <p
        class="text-white font-google-codepro text-sm text-center underline"
        style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8)"
      >
        Ir a ver
      </p>
    </div>
  </div>

  <!-- READ : 2018  -->
  <div class="h-screen w-[25%] bg-green-50 relative group">
    <img
      src="assets/año2028.jpg"
      alt="Año 2019"
      class="absolute object-cover h-full w-full"
    />
    <div
      class="absolute inset-0 bg-black bg-opacity-45 group-hover:bg-opacity-0 transition-opacity duration-300"
    ></div>
    <div
      class="absolute inset-0 flex items-center justify-center flex-col p-[5%] gap-[3%]"
    >
      <p
        class="text-white font-google-codepro text-4xl text-center transition-opacity duration-300 group-hover:opacity-0"
        style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8)"
      >
        2018
      </p>
      <p
        class="text-white font-google-codepro text-1xl text-center transition-opacity duration-300 group-hover:opacity-0"
      >
        Incendios en California y Europa generaron enormes emisiones de CO2,
        mientras el Ártico continuaba perdiendo hielo a un ritmo alarmante.
      </p>
    </div>
    <div
      class="absolute inset-0 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 gap-[2%]"
    >
      <p
        class="text-white font-google-codepro font-bold text-2xl text-center"
        style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8)"
      >
        Datos cronologicos de ese año
      </p>
      <img
        src="assets/monitorioCronologico.svg"
        alt=""
        class="object-cover h-10 w-10"
      />
      <p
        class="text-white font-google-codepro text-sm text-center underline"
        style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8)"
      >
        Ir a ver
      </p>
    </div>
  </div>

  <!-- READ : 2019  -->
  <div class="h-screen w-[25%] bg-green-50 relative group">
    <img
      src="assets/año2019.jpg"
      alt="Año 2019"
      class="absolute object-cover h-full w-full"
    />
    <div
      class="absolute inset-0 bg-black bg-opacity-45 group-hover:bg-opacity-0 transition-opacity duration-300"
    ></div>
    <div
      class="absolute inset-0 flex items-center justify-center flex-col p-[5%] gap-[3%]"
    >
      <p
        class="text-white font-google-codepro text-4xl text-center transition-opacity duration-300 group-hover:opacity-0"
        style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8)"
      >
        2019
      </p>
      <p
        class="text-white font-google-codepro text-1xl text-center transition-opacity duration-300 group-hover:opacity-0"
      >
        Los incendios en Australia liberaron millones de toneladas de CO2, y el
        deshielo en Groenlandia alcanzó cifras récord.
      </p>
    </div>
    <div
      class="absolute inset-0 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 gap-[2%]"
    >
      <p
        class="text-white font-google-codepro font-bold text-2xl text-center"
        style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8)"
      >
        Datos cronologicos de ese año
      </p>
      <img
        src="assets/monitorioCronologico.svg"
        alt=""
        class="object-cover h-10 w-10"
      />
      <p
        (click)="irToCronologiaDetallada()"
        class="cursor-pointer text-white font-google-codepro text-sm text-center underline"
        style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8)"
      >
        Ir a ver
      </p>
    </div>
  </div>

  <!-- READ : 2020  -->
  <div class="h-screen w-[25%] bg-green-50 relative group">
    <img
      src="assets/año2020.jpg"
      alt="Año 2019"
      class="absolute object-cover h-full w-full"
    />
    <div
      class="absolute inset-0 bg-black bg-opacity-45 group-hover:bg-opacity-0 transition-opacity duration-300"
    ></div>
    <div
      class="absolute inset-0 flex items-center justify-center flex-col p-[5%] gap-[3%]"
    >
      <p
        class="text-white font-google-codepro text-4xl text-center transition-opacity duration-300 group-hover:opacity-0"
        style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8)"
      >
        2020
      </p>
      <p
        class="text-white font-google-codepro text-1xl text-center transition-opacity duration-300 group-hover:opacity-0"
      >
        Aunque la pandemia redujo brevemente las emisiones, las concentraciones
        de gases de efecto invernadero siguieron en niveles altos.
      </p>
    </div>
    <div
      class="absolute inset-0 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 gap-[2%]"
    >
      <p
        class="text-white font-google-codepro font-bold text-2xl text-center"
        style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8)"
      >
        Datos cronologicos de ese año
      </p>
      <img
        src="assets/monitorioCronologico.svg"
        alt=""
        class="object-cover h-10 w-10"
      />
      <p
        class="text-white font-google-codepro text-sm text-center underline"
        style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8)"
      >
        Ir a ver
      </p>
    </div>
  </div>
</div>
