<div class="h-screen w-screen overflow-x-hidden bg-transparent">
  <!-- READ : IMAGEN SUPERIOR CON OPACIDAD -->
  <div class="h-[15%] w-full relative">
    <img
      src="https://static.nationalgeographicla.com/files/styles/image_3200/public/nationalgeographic2799570.jpg?w=1900&h=1267"
      alt=""
      class="object-cover h-full w-full custom-opacity"
    />
    <div class="absolute h-full w-full bg-black top-0 opacity-35"></div>
  </div>
  <div
    class="w-full h-[10%] bg-custom-nasa flex flex-row gap-[2%] justify-between items-center p-[2%]"
  >
    <img src="assets/bosques.svg" alt="" class="h-10 w-10" />
    <p class="text-white font-google-codepro text-xs font-bold">
      Incendios en el Amazonas.
    </p>

    <img src="assets/clima.svg" alt="" class="h-10 w-10" />
    <p class="text-white font-google-codepro text-xs font-bold">
      Calor global récord.
    </p>

    <img src="assets/co2.svg" alt="" class="h-10 w-10" />
    <p class="text-white font-google-codepro text-xs font-bold">
      Emisiones al máximo.
    </p>

    <img src="assets/fire.svg" alt="" class="h-10 w-10" />
    <p class="text-white font-google-codepro text-xs font-bold">
      Incendios en Australia.
    </p>

    <img src="assets/mund.svg" alt="" class="h-10 w-10" />
    <p class="text-white font-google-codepro text-xs font-bold">
      Crisis climática global.
    </p>
  </div>

  <!-- READ : ARTICULO CANONICO DE AÑO -->
  <div
    class="h-[70%] w-[100%] relative gap-[2%] justify-center items-center flex px-[10%]"
  >
    <img
      src="assets/metano.png"
      alt=""
      class="absolute h-[15%] w-[5%] object-contain top-[5%] left-[2%]"
    />
    <img
      src="assets/quemar.png"
      alt=""
      class="absolute h-[15%] w-[5%] object-contain top-[82%] left-[93%]"
    />
    <img
      src="assets/emision-de-co2.png"
      alt=""
      class="absolute h-[15%] w-[5%] object-contain left-[2%] top-[82%]"
    />
    <div class="h-[80%] w-[40%] custom-shadow rounded-md">
      <img
        src="https://www.laportadacanada.com/userfiles/images/mundo1fo1(19).jpg"
        alt=""
        class="h-full w-full object-cover rounded-md"
      />
    </div>
    <div class="h-[82%] w-[45%]">
      <p
        class="text-custom-nasa font-google-codepro font-bold text-2xl text-center"
        style="text-shadow: 2px 2px 4px #1e90ff"
      >
        El Impacto de los Incendios en la Amazonía
      </p>
      <p
        class="text-black font-bold font-google-codepro leading-relaxed text-justify"
      >
        Los incendios forestales masivos, impulsados por actividades humanas
        como la deforestación y la agricultura insostenible. Este evento no solo
        devastó extensas áreas de selva tropical, sino que también liberó
        enormes cantidades de dióxido de carbono (CO₂) y metano (CH₄),
        exacerbando la crisis climática global. A menudo denominada "pulmón del
        planeta", desempeña un papel crítico en la absorción de CO₂, y su
        degradación comprometió este funcionamiento, generando consecuencias
        ambientales graves.
      </p>
    </div>
  </div>

  <!-- READ : LINEA CRONOLOGICA DEL AÑO INICIO MITAD FINAL -->
  <div class="w-full h-[280%] relative flex flex-row justify-between">
    <p
      class="text-custom-nasa font-google-codepro font-bold text-3xl text-center absolute left-[38%]"
      style="text-shadow: 2px 2px 4px #1e90ff"
    >
      AGOSTO SEPTIEMBRE
    </p>
    <div
      class="h-[35%] w-[0.4%] bg-custom-nasa absolute rounded-sm shadow-custom-nasa top-[4%] left-[49.1%]"
    ></div>
    <div class="absolute w-[47%] h-[35%] p-2 top-[4%] left-[1%] gap-[2%]">
      <h2
        class="text-xl font-bold mb-2"
        style="text-shadow: 2px 2px 4px #1e90ff"
      >
        Impacto de los Incendios en la Amazonía
      </h2>
      <ul class="list-disc list-inside">
        <li>
          <strong>Emisiones de CO₂:</strong> En agosto y septiembre de 2019, los
          incendios de la Amazonía emitieron 228 millones de toneladas de CO₂.
          Esto representó un 20% del total de emisiones anuales de Brasil para
          ese año.
        </li>
        <li>
          <strong>Emisiones de metano (CH₄):</strong> Los incendios liberaron
          aproximadamente 5.5 millones de toneladas de metano en la atmósfera.
          El metano es más potente que el CO₂ en términos de efecto invernadero,
          con un potencial de calentamiento global 25 veces mayor en 100 años.
        </li>
        <strong class="text-custom-nasa">Impacto climático:</strong>
        <ul class="list-disc list-inside">
          <li>
            <strong>Aumento de temperaturas globales:</strong> Las emisiones de
            CO₂ y metano afectaron la temperatura global, contribuyendo a que
            2019 fuese uno de los años más calurosos registrados.
          </li>
          <li>
            <strong>Alteración de las lluvias:</strong> La destrucción de la
            selva amazónica, conocida como el "pulmón del mundo", alteró los
            patrones de lluvia en América del Sur, provocando sequías más
            severas en áreas ya afectadas.
          </li>
        </ul>

        <strong class="text-custom-nasa">Pérdida de biodiversidad:</strong>
        Millones de hectáreas de selva tropical fueron destruidas. Para
        septiembre, los incendios habían afectado un área mayor que la de países
        como Portugal, con más de 906,000 hectáreas quemadas.
        <ul class="list-disc list-inside ml-4">
          <li>
            <strong>Insectos:</strong> La desaparición de insectos clave como
            las abejas fue particularmente grave. Las abejas, fundamentales para
            la polinización, enfrentaron una pérdida masiva debido a la
            destrucción de sus hábitats naturales.
          </li>
          <li>
            <strong>Mamíferos y reptiles:</strong> También se reportó la muerte
            de 2.5 millones de mamíferos y 2.2 millones de reptiles como
            consecuencia directa de los incendios.
          </li>
        </ul>
      </ul>
    </div>
    <div
      class="absolute w-[48%] h-[33%] p-2 top-[4%] left-[61%] flex flex-col justify-center"
    >
      <img
        src="assets/2019-0809.png"
        alt=""
        class="h-[100%] w-[60%] object-cover custom-shadow rounded-md"
      />
    </div>
    <p class="absolute left-[62%] top-[37%] font-bold font-google-codepro">
      MiCASA Land Carbon Flux - 2019 08/09
    </p>

    <!-- LOGIC : OCTUBRE Y NOVIEMBRE -->
    <p
      class="text-custom-nasa font-google-codepro font-bold text-3xl text-center absolute left-[38%] top-[39%]"
      style="text-shadow: 2px 2px 4px #1e90ff"
    >
      OCTUBRE NOVIEMBRE
    </p>
    <div
      class="h-[19%] w-[0.4%] bg-custom-nasa absolute rounded-sm shadow-custom-nasa top-[42%] left-[49.1%]"
    ></div>
    <div class="absolute w-[47%] h-[19%] p-2 top-[42%] left-[51%] gap-[2%]">
      <h2
        class="text-xl font-bold mb-2"
        style="text-shadow: 2px 2px 4px #1e90ff"
      >
        Consecuencias inmediatas
      </h2>
      <ul class="list-disc list-inside space-y-3">
        <li>
          <strong>CO₂ adiciona :</strong> En los meses siguientes, los incendios
          persistentes elevaron las emisiones globales de CO₂. Se estima que en
          total se liberaron más de 400 millones de toneladas de CO₂ desde
          agosto hasta noviembre.
        </li>
        <li>
          <strong>Fenómenos climáticos:</strong> El humo y las partículas
          emitidas por los incendios viajaron grandes distancias, incluso
          alcanzando la costa atlántica y contribuyendo a problemas de calidad
          del aire en ciudades como São Paulo y hasta en países africanos.
        </li>
        <li>
          <strong>Pérdida de especies:</strong> El colapso de ecosistemas
          continuó. Para noviembre, muchos insectos y aves migratorias no
          pudieron adaptarse a la destrucción de sus hábitats. Esto afectó la
          polinización en otras partes del mundo, lo que generó problemas en la
          producción agrícola en América Latina.
        </li>
      </ul>
    </div>
    <div class="absolute w-[47%] h-[17%] p-2 top-[42%] left-[1%]">
      <img
        src="assets/flujos_invernos_ch4_2019- 10 11.png"
        alt=""
        class="h-full w-full object-cover custom-shadow rounded-md"
      />
    </div>
    <p class="absolute left-[5%] top-[59%] font-bold font-google-codepro">
      Flujos inversos de CH₄ isotópicos TM5-4DVar - 2019 10/11
    </p>

    <!-- LOGIC : DICIEMBRE Y 1RE MES DE 2020 -->
    <p
      class="text-custom-nasa font-google-codepro font-bold text-3xl text-center absolute left-[35%] top-[61.2%]"
      style="text-shadow: 2px 2px 4px #1e90ff"
    >
      DICIEMBRE Y ENERO(2020)
    </p>
    <div
      class="h-[21%] w-[0.4%] bg-custom-nasa absolute rounded-sm shadow-custom-nasa top-[64%] left-[49.1%]"
    ></div>
    <div class="absolute w-[47%] h-[19%] p-2 top-[64%] left-[1%] gap-[2%]">
      <h2
        class="text-xl font-bold mb-2"
        style="text-shadow: 2px 2px 4px #1e90ff"
      >
        Nuevas alarmas y efectos a largo plazo
      </h2>
      <ul class="list-disc list-inside space-y-3">
        <li>
          <strong>Pérdida acumulada de árboles:</strong> En el cierre de 2019,
          más de 3 millones de hectáreas de selva habían sido arrasadas. Esta
          deforestación masiva contribuyó a un aumento neto de emisiones
          globales de gases de efecto invernadero.
        </li>
        <li>
          <strong>Crisis de biodiversidad:</strong> Los científicos advirtieron
          que la pérdida de insectos, como las abejas, afectaría gravemente la
          agricultura mundial en los próximos años. Se calcula que las
          poblaciones de abejas silvestres en la Amazonía disminuyeron entre un
          30% y un 40%, lo que afectará la polinización en futuras temporadas.
        </li>
        <li>
          <strong>Emisiones de CH₄ y CO₂ en un 2020:</strong>En enero de 2020,
          los incendios en la Amazonía liberaron 500 millones de toneladas de
          CO₂ y grandes cantidades de metano (CH₄), intensificando el
          calentamiento global. Esto provocó olas de calor en Europa y América
          del Norte, junto con fenómenos extremos como sequías e inundaciones,
          afectando la biodiversidad y la seguridad alimentaria global.
        </li>
      </ul>
    </div>
    <div
      class="absolute w-[22%] h-[21%] p-2 top-[64%] left-[51%] flex flex-col gap-[4%]"
    >
      <img
        src="assets/imagenGlobal1.jpg"
        alt=""
        class="h-full w-full object-cover custom-shadow rounded-md"
      />

      <img
        src="assets/imagenGlobal2.jpg"
        alt=""
        class="h-full w-full object-cover custom-shadow rounded-md"
      />
    </div>
    <div
      class="absolute w-[22%] h-[21%] p-2 top-[64%] left-[75%] flex flex-col gap-[4%]"
    >
      <img
        src="assets/imagenGlobal3.jpg"
        alt=""
        class="h-full w-full object-cover custom-shadow rounded-md"
      />

      <img
        src="assets/imagenGlobal4.jpg"
        alt=""
        class="h-full w-full object-cover custom-shadow rounded-md"
      />
    </div>

    <div class="h-[20%] w-[100%] absolute top-[86%] px-[1%] gap-[3%]">
      <p class="font-google-codepro">
        El devastador incendio de la Amazonía en 2019 no solo afectó
        directamente a los ecosistemas locales, sino que también tuvo
        repercusiones globales, exacerbando problemas climáticos y afectando a
        millones de personas. Según datos de densidad poblacional de 2019, las
        áreas más vulnerables a los fenómenos climáticos extremos como las olas
        de calor y sequías, que se intensificaron debido a los incendios,
        incluyen zonas con alta concentración de población en regiones como
        América del Sur, África y Asia.
      </p>
      <p class="font-google-codepro">
        La siguiente imagen muestra la densidad poblacional global en 2019,
        destacando las áreas donde las poblaciones son más densas y, por lo
        tanto, más susceptibles a sufrir los efectos indirectos del cambio
        climático, como inseguridad alimentaria y recursos naturales limitados.
      </p>
      <img
        src="assets/mapaPoblacional.png"
        alt=""
        class="h-full w-full object-cover custom-shadow rounded-md border-custom-nasa border-2"
      />
      <p class="font-google-codepro">
        Este análisis subraya la importancia de entender cómo los eventos
        climáticos en un ecosistema como la Amazonía pueden tener efectos en
        cascada que afectan a poblaciones densamente pobladas a nivel global.
      </p>
    </div>
  </div>

  <!-- READ : EFECTO-INVERNADERO -->

  <!-- MiCASA Land Carbon Flux - 2019 08/09 -->
  <!-- Flujos inversos de CH₄ isotópicos TM5-4DVar - 2019 10/11 -->
  <!-- Emisiones totales y naturales de metano de arriba hacia abajo basadas en GOSAT - 2019 -->
</div>
